@use "mixins";
@use "../variables";
@use "sass:math";



body::after {
	content: "";
	position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
  // @supports (backdrop-filter: blur(10px)) {
  //   backdrop-filter: blur(10px);
  // }
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  width: 100vw;
  height: 100dvh;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

  &::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    // height: mixins.toRem(100);
  }

  &_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
  }

  &__wrapper {
    min-height: 100%;
    width: 100%;
    overflow: clip;
    display: flex;
    justify-content: flex-end;
    @media (max-width:mixins.toEm(variables.$mobile)){
      align-items: flex-end;
      padding-top: mixins.toRem(30);
      height: 100%;
    }
  }

  &__content {
    background-color: #fff;
    padding: mixins.toRem(60) mixins.toRem(40) mixins.toRem(47);
    width: 100%;
    max-width: mixins.toRem(970);
    position: relative;
    visibility: hidden;
    border-radius: mixins.toRem(20) 0 0 mixins.toRem(20);
    .loaded & {
      transition: translate 0.5s ease-in-out 0s;
    }

    ._close & {
      @media (min-width:mixins.toEm(variables.$mobile)){
        translate: 110% 0% !important;
      }
      @media (max-width: mixins.toEm(variables.$mobile) ){
        translate: 0% 100% !important;
      }
    }

    @media (min-width: mixins.toEm(variables.$mobile) ){
      translate: 100% 0%;
      margin-left: auto;
    }
    @media (max-width: mixins.toEm(variables.$mobile) ){
      max-height: 100%;
      padding: mixins.toRem(31) mixins.toRem(22);
      border-radius: mixins.toRem(20) mixins.toRem(20) 0 0;
      translate: 0% 100%;
      display: flex;
      // overflow: auto;
    }

    .popup_show & {
      visibility: visible;
      @media (min-width:mixins.toEm(variables.$mobile)){
        translate: 0% 0%;
      }
      @media (max-width:mixins.toEm(variables.$mobile)){
        translate: 0% var(--translateY, 0px);
      }
    }
  }

  &__body {
    @media (min-width:mixins.toEm(variables.$mobile)){
      max-width: mixins.toRem(492);
    }
    @media (max-width:mixins.toEm(variables.$mobile)){
      max-height: 100%;
      overflow: auto;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: mixins.toRem(10);
    width: mixins.toRem(40);
    height: mixins.toRem(40);
    padding: mixins.toRem(6);
    z-index: 3;
    outline: none;
    &::before,&::after{
      content:'';
      position: absolute;
      width: mixins.toRem(25);
      height: mixins.toRem(2);
      border-radius: mixins.toRem(9999);
      background-color: #000;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    &::before{
      rotate: 45deg;
    }
    &::after{
      rotate: -45deg;
    }

    @media (max-width:mixins.toEm(variables.$mobile)){
      display: none;
    }
  }

  &__dragclose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: mixins.toRem(30);
    outline: none;
    &::before{
      content:'';
      position: absolute;
      width: 30%;
      height: mixins.toRem(3);
      border-radius: mixins.toRem(9999);
      background-color: var(--grey);
      top: mixins.toRem(8);
      left: 50%;
      translate: -50% 0;
    }

    @media (min-width:mixins.toEm(variables.$mobile)){
      display: none;
    }
  }

  &__image {
    position: relative;
    margin: 0 auto;

    a {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      width: mixins.toRem(50);
      height: mixins.toRem(50);
      border-radius: 50%;
      display: flex;
      justify-content:center;align-items: center;

      @media (any-hover: hover){
        opacity: 0;
        .loaded & {
          transition: opacity 0.3s ease 0s;
        }
      }
    }

    @media (max-width:mixins.toEm(variables.$mobile)){
      max-width: mixins.percent(267,375);
    }

    @media (any-hover: hover){
      &:hover{
        a {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    line-height: math.div(22.4 , 16);
    @include mixins.adaptiveValue("font-size", 16, 14);
  }
}

.assortPopup {

  &__body {
    max-width: mixins.toRem(646);
  }

  &__title {
    border-bottom: mixins.toRem(1) solid var(--light_grey);
    line-height: math.div(35 , 25);
    font-weight: 500;
    text-transform: uppercase;

    span {
      &:last-child {
        color: #828080;
      }
    }

    @include mixins.adaptiveValue("padding-bottom", 20, 5);
    @include mixins.adaptiveValue("font-size", 25, 18);

    @media (max-width:mixins.toEm(variables.$mobile)){
      border-color: var(--red);
    }

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__text {
    line-height: math.div(25.2 , 18);
    @include mixins.adaptiveValue("font-size", 18, 16);

    b {
      display: block;
    }

    ._red {
      color: var(--red);
      font-weight: 500;
      margin: mixins.toRem(20) 0 mixins.toRem(10);
    }

    ol {
      line-height: math.div(30 , 18);
      list-style-type: none;
      counter-reset: item;
      li {
        padding-left: mixins.toRem(28);
        position: relative;
        &:before {
          font-variant-numeric: tabular-nums;
          counter-increment: item;
          content: counter(item) ".";
          position: absolute;
          right: calc(100% - mixins.toRem(28) + mixins.toRem(7));
          top: 0;
        }
      }
    }
  }
}
